body {
    background-image: url("../img/fondo-registro.png");
    background-size: cover;
}

footer{
    position: absolute;
    bottom: 0;
}

nav {
    position: absolute;
    right: 0;
    padding: 1em;
}