<!DOCTYPE html>
<html lang="en">
<title>Ping Pong</title>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../../public/css/estilo.css">
</head>

<body class="m-0 p-0 font-sans bg-cyan-100">
<header id="main-header" class="bg-gray-500 mb-10 flex flex-row">
		<a id="logo-header" href="/index.php?module=user&method=mostrar" class="text-white">
			<img src="../../public/img/logo-pingpong.png" alt="LOGO" class="h-20 w-20 ml-20">
		</a> <!-- / #logo-header -->

		<nav >
			<ul class="p-2 m-0 flex flex-row text-white">
				<li class="ml-5 mr-5 hover:text-blue-100 hover:border-b-2"><a href="/index.php?module=user&method=mostrar"><i class="fa-solid fa-house"></i></a></li>
				<li><a href="/index.php?module=login&method=logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
			</ul>
		</nav><!-- / nav -->
	</header>

