{{> header}}
<div class="cuadro admin-container">
    <div class="admin-row">
        <h1>Sección General</h1>
    </div>

    <div class="admin-row">
        <div class="admin-card ">
            <div
                class="w-72 bg-white max-w-xs rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
                <div class="h-20 bg-red-400 flex items-center justify-between">
                    <p class="mr-0 text-white text-lg pl-5">USUARIOS</p>
                </div>
                <div class="flex justify-between px-5 pt-6 mb-2 text-sm text-gray-600">
                    <p>TOTAL</p>
                </div>
                <p class="py-4 text-3xl ml-5">{{totalUsuarios}}</p>
            </div>
        </div>

        <div class="admin-card  ">
            <div
                class="w-72 bg-white max-w-xs  rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
                <div class="h-20 bg-blue-500 flex items-center justify-between">
                    <p class="mr-0 text-white text-lg pl-5">JUGADORES</p>
                </div>
                <div class="flex justify-between px-5 pt-6 mb-2 text-sm text-gray-600">
                    <p>TOTAL</p>
                </div>
                <p class="py-4 text-3xl ml-5">{{totalJugadores}}</p>
            </div>
        </div>

        <div class="admin-card ">
            <div
                class="w-72 bg-white max-w-xs rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
                <div class="h-20 bg-purple-400 flex items-center justify-between">
                    <p class="mr-0 text-white text-lg pl-5">EDITORES</p>
                </div>
                <div class="flex justify-between pt-6 px-5 mb-2 text-sm text-gray-600">
                    <p>TOTAL</p>
                </div>
                <p class="py-4 text-3xl ml-5">{{totalEditores}}</p>
            </div>
        </div>

        <div class="admin-card">
            <div
                class="w-72 bg-white max-w-xs  rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
                <div class="h-20 bg-purple-900 flex items-center justify-between">
                    <p class="mr-0 text-white text-lg pl-5">ADMINISTRADORES</p>
                </div>
                <div class="flex justify-between pt-6 px-5 mb-2 text-sm text-gray-600">
                    <p>TOTAL</p>
                </div>
                <p class="py-4 text-3xl ml-5">{{totalAdministradores}}</p>
            </div>
        </div>
    </div>
    
    <div class="admin-row">
        <div class="grafico-container">
            <img src="{{graficoGenero}}">
        </div>
        <div class="grafico-container">
            <img src="{{generarGraficoPie}}">
        </div>
        <div class="grafico-container">
            <img src="/public/img/prueba-logo.png">
        </div>
    </div>
    <div class="admin-row">
        <div class="select-container">
            <select name="mesSeleccionado">
                <option value="Enero">Enero</option>
                <option value="Febrero">Febrero</option>
                <option value="Marzo">Marzo</option>
                <option value="Abril">Abril</option>
                <option value="Mayo">Mayo</option>
                <option value="Junio">Junio</option>
                <option value="Julio">Julio</option>
                <option value="Agosto">Agosto</option>
                <option value="Septiembre">Septiembre</option>
                <option value="Octubre">Octubre</option>
                <option value="Noviembre">Noviembre</option>
                <option value="Diciembre">Diciembre</option>
            </select>
        </div>
    </div>
    <div class="admin-row">
        <div class="admin-card ">
            <div
                class="w-72 bg-white max-w-xs rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
                <div class="h-20 bg-purple-900 flex items-center justify-between">
                    <p class="mr-0 text-white text-lg pl-5">PREGUNTAS</p>
                </div>
                <div class="flex justify-between px-5 pt-6 mb-2 text-sm text-gray-600">
                    <p>TOTAL</p>
                </div>
                <p class="py-4 text-3xl ml-5">{{cantidadPreguntas}}</p>
            </div>
        </div>
        <div class="admin-card  ">
            <div
                class="w-72 bg-white max-w-xs  rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
                <div class="h-20 bg-purple-300 flex items-center justify-between">
                    <p class="mr-0 text-white text-lg pl-5">ACIERTOS</p>
                </div>
                <div class="flex justify-between px-5 pt-6 mb-2 text-sm text-gray-600">
                    <p>TOTAL</p>
                </div>
                <p class="py-4 text-3xl ml-5">{{porcentajePreguntasAcertadas}}%</p>
            </div>
        </div>
        <div class="admin-card ">
            <div
                class="w-72 bg-white max-w-xs rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
                <div class="h-20 bg-blue-400 flex items-center justify-between">
                    <p class="mr-0 text-white text-lg pl-5">JUGARON +1 VEZ</p>
                </div>
                <div class="flex justify-between pt-6 px-5 mb-2 text-sm text-gray-600">
                    <p>TOTAL</p>
                </div>
                <p class="py-4 text-3xl ml-5">{{totalJugadoresConAlMenosUnaPartida}}</p>
            </div>
        </div>
        <div class="admin-card">
            <div
                class="w-72 bg-white max-w-xs  rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
                <div class="h-20 bg-red-900 flex items-center justify-between">
                    <p class="mr-0 text-white text-lg pl-5">TOTAL PARTIDAS <b>({{nombreMes}})</b></p>
                </div>
                <div class="flex justify-between pt-6 px-5 mb-2 text-sm text-gray-600">
                    <p>TOTAL</p>
                </div>
                <p class="py-4 text-3xl ml-5">{{cantidadPartidasJugadas}}</p>
            </div>
        </div>
    </div>
    <div class="admin-row">
        <h1>Sección de Usuarios</h1>
    </div>

    <div class="admin-row">
        <div class="grafico-container">
            <img src="/public/img/prueba-logo.png">
        </div>
        <div class="grafico-container">
            <img src="/public/img/prueba-logo.png">
        </div>
        <div class="grafico-container">
            <img src="/public/img/prueba-logo.png">
        </div>
    </div>
    <div class="admin-row">
        <button type="submit" class="btn">Generar PDF</button>
    </div>
</div>

<!--
<img src="{{imagePath}}" alt="Gráfico" />
<p>Balance de trampitas por usuario: {{balanceTrampitas}}</p>
<p>Dinero ganado con las trampitas: {{cantidadTrampitas}}$</p>
<p>Cantidad de Usuarios desde fecha por parametro: {{cantidadUsuariosNuevosDesdeFecha}}</p>
<p>Porcentaje de Preguntas acertadas por Usuario en particular: {{porcentajePreguntasAcertadasPorUsuario}}%</p>
<p>Cantidad de usuarios por país</p>
<ul>
    {{#cantidadPorPais}}
    <li>{{pais}}: {{cantidadUsuarios}}</li>
    {{/cantidadPorPais}}
</ul>

<p><b><u>Cantidad de Usuarios por Género</u></b></p>
<ul>
    {{#cantidadUsuariosPorSexo}}
    <li>{{genero}}: {{cantidadUsuarios}}</li>
    {{/cantidadUsuariosPorSexo}}
</ul>
-->