{{> header}}

<p>Cantidad de Usuarios: {{totalUsuarios}} </p>
<p>Cantidad de Jugadores: {{totalJugadores}} </p>
<p>Cantidad de Editores: {{totalEditores}} </p>
<p>Cantidad de Administradores: {{totalAdministradores}} </p>
<p>Cantidad de Jugadores con al menos una Partida: {{totalJugadoresConAlMenosUnaPartida}}</p>
<p>Cantidad de Partidas jugadas: {{cantidadPartidasJugadas}}</p>
<p>Cantidad de Preguntas creadas: {{cantidadPreguntas}}</p>
<p>Cantidad de Usuarios desde fecha por parametro: {{cantidadUsuariosNuevosDesdeFecha}}</p>
<p>Porcentaje de Preguntas acertadas en general: {{porcentajePreguntasAcertadas}}%</p>
<p>Porcentaje de Preguntas acertadas por Usuario en particular: {{porcentajePreguntasAcertadasPorUsuario}}%</p>
<p><b><u>Cantidad de Usuarios por Género</u></b></p>
<ul>
    {{#cantidadUsuariosPorSexo}}
    <li>{{genero}}: {{cantidadUsuarios}}</li>
    {{/cantidadUsuariosPorSexo}}
</ul>
<p>Cantidad de Partidas nuevas desde el mes de <b>{{nombreMes}}</b>: {{partidasNuevasDesdeFecha}}</p>






