{{> header}}
<div class="flex flex-col justify-center items-center justify-items-center">
 <div class="lobby-container mt-10">
    <div class="lobby-buttons">
        <a href="/editor/sugeridas" class="boton bg-yellow-400 hover:bg-yellow-200 text-black p-5 rounded">Preguntas Sugeridas</a>
        <a href="/editor/reportadas" class="boton bg-yellow-400 hover:bg-yellow-200 text-black p-5 rounded">Preguntas Reportadas</a>
        <a href="/editor/preguntas" class="boton bg-yellow-400 hover:bg-yellow-200 text-black p-5 rounded">ABM Preguntas</a>
    </div>


</div>
</div>
