{{> headerUser}}
<div class="flex flex-row items-center justify-center">
<div class="clock text-gray-200 text-5xl text-center">
    <p id="numero" class="hidden">10</p>
</div>
<div class="flex flex-col items-center justify-center m-12 text-white">
    {{#partidas}}
        <p class="m-5 hidden">Fecha: {{fecha}}</p>
        <p class="m-5 hidden" id="usuario">{{idUsuario}}</p>
    {{/partidas}}

    <div id="contenedor-categoria">
        <p id="categoria" class="text-6xl"></p>
    </div>
    <div id="contenedor-pregunta">
        <p id="pregunta" class="text-6xl"></p>
        <p id="idPregunta" class="hidden"></p>
    </div>
    <div class="opciones-container">
        <div class="opcion-col">
            <a id="opcion1" ></a>
            <a id="opcion2" ></a>
        </div>
        <div class="opcion-col">
            <a id="opcion3" ></a>
            <a id="opcion4" ></a>
        </div>
    </div>
</div>
</div>
<button id="btn-reportar-pregunta" onclick="mostrarPopup()">Reportar Pregunta</button>
<div id="popup" style="display: none;">
    <h2>¿Por qué quieres reportar la pregunta?</h2>
    <textarea id="motivo-reportar" rows="4" cols="50"></textarea>
    <button onclick="enviarReporte()">Enviar Reporte</button>
</div>
<script src="/public/js/consultaApiPregunta.js"></script>
<script>
    window.addEventListener('load', () => {
        consultarAPI();
    });

    function mostrarPopup() {
        var popup = document.getElementById("popup");
        popup.style.display = "block";
    }

    function enviarReporte() {
        var motivo = document.getElementById("motivo-reportar").value;
        var idUsuario = document.getElementById("usuario").innerHTML;
        var idPregunta = document.getElementById("idPregunta").innerHTML;

        if (motivo.trim() === '') {
            alert('Por favor, ingresa un motivo para reportar la pregunta.');
            return;
        }

        var data = {
            motivo: motivo,
            idUsuario: idUsuario,
            idPregunta: idPregunta
        };

        var requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };
        var url = 'http://localhost/partida/reportarPregunta';

        fetch(url, requestOptions)
                .then(response => {
                    if (response.ok) {
                        console.log(motivo);
                        console.log(idUsuario);
                        console.log(idPregunta);
                        window.location.href = '/lobby/list';
                    } else {
                        console.log('Hubo un error al enviar el reporte.');
                    }
                })
                .catch(error => {
                    console.log('Hubo un error en la solicitud AJAX:', error);
                });
    }
</script>