{{> headerUser}}

<div class="flex flex-col justify-center items-center justify-items-center">
{{#preguntas}}
    <div class="partida">

        <div class="pregunta-container cuadro text-center" style="background-color:{{color}}">
             <p>{{categoria}}</p>

        </div>
        <div class="pregunta-container cuadro text-center">
            <p>{{pregunta}}</p>

        </div>
        <div class="opciones-container">
            <div class="opcion-col">
                <a href="/partida/respuesta?opcion=1&pregunta={{idPregunta}}">{{opcion1}}</a>
                <a href="/partida/respuesta?opcion=2&pregunta={{idPregunta}}">{{opcion2}}</a>
            </div>
            <div class="opcion-col">
                <a href="/partida/respuesta?opcion=3&pregunta={{idPregunta}}">{{opcion3}}</a>
                <a href="/partida/respuesta?opcion=4&pregunta={{idPregunta}}">{{opcion4}}</a>
            </div>
        </div>
    </div>
{{/preguntas}}

</div>

