{{> header}}
<div class="flex flex-row items-center justify-center">
<div class="clock text-gray-200 text-5xl text-center">
    <p id="numero" class="hidden">100</p>
</div>
<div class="flex flex-col items-center justify-center m-12 text-white">
    {{#partidas}}
        <p class="m-5 hidden">Fecha: {{fecha}}</p>
        <p class="m-5 hidden" id="usuario">{{idUsuario}}</p>
    {{/partidas}}

    <div id="contenedor-categoria">
        <p id="categoria" class="text-6xl"></p>
    </div>
    <div id="contenedor-pregunta">
        <p id="pregunta" class="text-6xl"></p>
        <p id="idPregunta" class="hidden"></p>
    </div>
    <div class="opciones-container">
        <div class="opcion-col">
            <a id="opcion1" ></a>
            <a id="opcion2" ></a>
        </div>
        <div class="opcion-col">
            <a id="opcion3" ></a>
            <a id="opcion4" ></a>
        </div>
    </div>
</div>
</div>
<button id="btn-trampita" onClick="usarTrampita()">Trampitas</button>
<div id="popup-trampita" style="display: none;">
    <h2>No tenes trampitas!</h2>
    <button onClick="comprarTrampita()">Comprar</button>
</div>
<script src="/public/js/consultaApiPregunta.js"></script>
<script>
    window.addEventListener('load', () => {
        consultarAPI();
    });

    function usarTrampita(){
        var idUsuario = document.getElementById("usuario").innerHTML;
        var idPregunta = document.getElementById("idPregunta").innerHTML;

        var data = {
            idUsuario: idUsuario
        };

        var requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };

        var url = 'http://localhost:80/partida/usarTrampita';

        fetch(url, requestOptions)
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Hubo un error al usar la trampita.');
                    }
                })
                .then(result => {
                    if (result.tieneTrampita) {
                        dataAPI.forEach(pregunta => {
                            console.log(idPregunta);
                            console.log(pregunta.id);
                            if (parseInt(idPregunta) === parseInt(pregunta.id)) {
                                var respuestaCorrecta = pregunta.opciones.respuesta_correcta;
                                var opcionCorrecta = document.getElementById("opcion" + respuestaCorrecta);
                                opcionCorrecta.click();
                            }
                        })
                    } else {
                        mostrarPopupComprarTrampita();
                    }
                })
                .catch(error => {
                    console.log('Hubo un error en la solicitud AJAX:', error);
                });
    }

    function mostrarPopupComprarTrampita() {
        var popup = document.getElementById("popup-trampita");
        popup.style.display = "block";
    }

    function comprarTrampita() {
        console.log('Trampita comprada');
    }
</script>