{{> headerUser}}
<div class="flex flex-col items-center justify-center mt-24 text-white">
    <div class="clock text-gray-200 text-6xl text-center">
  <p id="numero" class="number">10</p>
    </div>
    {{#partidas}}
        <p class="m-5 hidden">Fecha: {{fecha}}</p>
        <p class="m-5 hidden" id="usuario">{{idUsuario}}</p>
    {{/partidas}}

    <div id="contenedor-categoria">
        <p id="categoria" class="text-6xl"></p>
    </div>
    <div id="contenedor-pregunta">
        <p id="pregunta" class="text-6xl"></p>
    </div>
    <div class="opciones-container">
        <div class="opcion-col">
            <a id="opcion1" ></a>
            <a id="opcion2" ></a>
        </div>
        <div class="opcion-col">
            <a id="opcion3" ></a>
            <a id="opcion4" ></a>
        </div>
    </div>
</div>
<script src="/public/js/consultaApiPregunta.js"></script>
<script>
    window.addEventListener('load', () => {
        consultarAPI();
    });
</script>