{{> header}}
<div class="flex flex-col justify-center items-center justify-items-center mt-5">
    <audio controls autoplay  style="width: 100%; margin-top: 10px">
        <source src="/public/audio/lobby.mp3" type="audio/mp4">
    </audio>
 <div class="lobby-container mt-2 md:mt-20">
    <div class="lobby-user">
        {{#usuarioInfo}}
            <h1 class="text-gray-500 text-3xl mb-5 md:mb-20 uppercase">{{nickName}}</h1>
        {{/usuarioInfo}}
        {{#usuarioJuego}}
            <h2 class="text-gray-500 text-3xl mb-2 md:mb-20">{{puntaje}} Puntos</h2>
        {{/usuarioJuego}}
        {{#usuarioInfo}}
            <a href="/user/mostrar" ><img src="/public/foto-perfil/{{imagenPerfil}}" class="w-16 h-16 rounded-full border border-yellow-400"></a>
        {{/usuarioInfo}}
    </div>
    <div class="linea"></div>
    <div class="lobby-buttons">
        <a href="/partida/list" class="boton-jugar"></a>
    </div>
    {{#usuarioJuego}}
        <a href="" class="trampita text-black text-3xl text-center pt-2 md:mb-20 mb-2 hover:text-white"
           id="comprar-trampita">{{trampita}}</a>
    {{/usuarioJuego}}
     <a href="/lobby/generarpdf" class="bg-pink-200 hover:bg-pink-400 text-black text-3xl text-center pt-2 md:mb-20 mb-2 hover:text-white"
        id="comprar-trampita">Generar PDF</a>
</div>
</div>
{{>footer}}
<script>
    window.addEventListener("load", function() {
        var body = document.body;
        body.classList.add('body-lobby');
    });
    const enlaceTrampita = document.getElementById('comprar-trampita');

    enlaceTrampita.addEventListener('click', () => {
        fetch('/partida/comprarTrampita', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
                .then((response) => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        console.error('Error al comprar la trampita');
                    }
                })
                .catch((error) => {
                    console.error(error);
                });
    });
</script>