 <!DOCTYPE html>
 <html lang="en">
 <title>Ping Pong</title>
 <head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://cdn.tailwindcss.com"></script>
   <link rel="stylesheet" href="../../public/css/estilo.css">
 </head>
 <body class="m-0 p-0 font-sans bg-cyan-100">
 <div class="m-auto flex flex-col justify-center items-center">
  <h1>Iniciar sesión</h1>
  <form action="/login/authenticate" method="POST">
    <label for="nickname">Usuario:</label>
    <input type="text" name="nickname" required><br>

    <label for="password">Contraseña:</label>
    <input type="password" name="password" required><br>

    <input type="submit" value="Iniciar sesión">
  </form>
  </div>
  </body>
  </html>