<!DOCTYPE html>
<html lang="en">
<title>Ping Pong</title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../public/css/estilo.css">
</head>

<body class="m-auto font-sans bg-cyan-100 h-4/5 w-8/12 opacity-90 mt-32 p-0">
    <div
        class="cuadro flex flex-col justify-center items-center justify-items-center text-center text-green-700 bg-white p-5 w-full rounded">
        <img src="../../public/img/logo-pingpong.png" alt="LOGO" class="h-20 w-20 m-auto">
        <h1 class="text-4xl text-center mb-10 font-bold">Login</h1>

        <form action="/login/authenticate" method="POST"
            class="flex flex-col justify-center items-center justify-items-center">
            <div class="m-auto flex flex-col">
                <label for="nickname">Usuario:</label>
                <input type="text" name="nickname" required class="mb-5 rounded border border-2 border-green-300"><br>
            </div>
            <div class="m-auto flex flex-col">
                <label for="password">Contraseña:</label>
                <input type="password" name="password" required
                    class="mb-5 rounded border border-2 border-green-300"><br>
            </div>
            <input type="submit" value="Iniciar sesión"
                class="text-white bg-green-700 hover:bg-green-500 p-2 m-5 rounded shadow-xl">
        </form>
        <a href="/register/list" class="text-blue-400 hover:text-green-700 p-2">Registrate</a>
    </div>
    {{#errorMsg}}
    <p>{{.}}</p>
    {{/errorMsg}}
</body>

</html>