{{> header}}
<div>
<h1> Hoy soy la vista del validador falso de mail</h1>
<a href="/" class="bg-blue-500 p-2 mb-5 mt-10">Home</a>
 {{#mensaje}}
            <p>{{.}}</p>
        {{/mensaje}}
</div>
{{> footer}}