{{> header}}
<div class="flex flex-row items-center justify-center">
    <div class="clock text-gray-200 text-5xl text-center">
        <p id="numero" class="hidden">10</p>
    </div>
    <div class="flex flex-col items-center justify-center m-12 text-white">
{{#partidas}}
<p class="m-5 hidden">Fecha: {{fecha}}</p>
<p class="m-5 hidden" id="usuario">{{idUsuario}}</p>
{{/partidas}}
    <a class="bg-yellow-500 border border-back text-black text-5xl rounded p-5 m-5" id="btn-jugar" onclick="consultarAPI()">JUGAR</a>
    <div id="contenedor-categoria">
        <p id="categoria" class="text-6xl"></p>
    </div>
        <div id="contenedor-pregunta">
            <p id="pregunta" class="text-6xl"></p>
            <p id="idPregunta" class="hidden"></p>
        </div>
    <div class="opciones-container">
        <div class="opcion-col">
            <a id="opcion1" ></a>
            <a id="opcion2" ></a>
        </div>
        <div class="opcion-col">
            <a id="opcion3" ></a>
            <a id="opcion4" ></a>
        </div>
    </div>
    </div>
</div>
<button id="btn-trampita" onClick="usarTrampita()" class="hidden">Trampitas</button>
<div id="popup-trampita" style="display: none;">
    <h2>No tenes trampitas!</h2>
    <button onClick="comprarTrampita()">Comprar</button>
</div>
<script src="/public/js/consultaApiPregunta.js"></script>
<script src="/public/js/trampita.js"></script>