{{> headerUser}}

<div class="flex flex-col justify-center items-center justify-items-center">
<div class="partida">
    <div class="pregunta-container cuadro">
        <p>¿De qué Color es tu vieja?</p>
    </div>
    <div class="opciones-container">
        <div class="opcion-col">
            <a href="">Opción 1</a>
            <a href="">Opción 2</a>
        </div>
        <div class="opcion-col">
            <a href="">Opción 3</a>
            <a href="">Opción 4</a>
        </div>
    </div>
</div>
</div>

{{> footer}}

