{{> header}}
<main class="m-auto text-center">
<h2 class="text-2xl text-white">Qué es pingpong?</h2>
<p class="text-white mb-10">Pingpong es un juego super copado</p>
<a href="/login/list" class="bg-blue-400 hover:bg-blue-200 m-5 p-5 rounded">Login</a>
<form action="/index.php?module=mailValider&method=enviar" method="post">
<input type="hidden" name="email" value="nhumano207@alumno.unlam.edu.ar">
<input type="submit" class="bg-blue-400 hover:bg-blue-200 m-5 p-5 rounded" value="Enviar Mail">
</form>
</main>
{{> footer}}