{{> header}}
<main class="m-auto text-center">
<h2 class="text-2xl text-white">Qué es pingpong?</h2>
<p class="text-white mb-10">Pingpong es un juego super copado</p>
<a href="/login/list" class="bg-blue-400 hover:bg-blue-200 m-5 p-5 rounded">Login</a>
<a href="/mailValider/list" class="bg-blue-400 hover:bg-blue-200 m-5 p-5 rounded">Validador de mail</a>
</main>
{{> footer}}