{{> headerUser}}
<div class="flex flex-col justify-center items-center justify-items-center">



 <div class="lobby-container mt-10">
    <div class="lobby-user">
        <h1 class="text-white text-3xl mb-20 uppercase">Ranking</h1>

    </div>
    <div>
     {{#usuario}}
        <div class="lobby-user">
                <img src="/public/foto-perfil/{{imagenPerfil}}" class="w-16 h-16 rounded-full border border-yellow-400">
                  <a href="/user/seeProfile&{{nick}}" ><img src="/public/qr-perfil/qr_code_{{nick}}.png" class="w-16 h-16 rounded-full border border-yellow-400"></a>
                  <p>{{puntaje}} </p>
        </div>

     {{/usuario}}
    </div>

</div>

</div>
