{{> headerUser}}
<div class="respuesta">
    <div>
        {{#puntaje}}
        <p>Puntaje: {{puntaje}}</p>
        {{/puntaje}}
    </div>
    <div>
        {{#pregunta}}
        <p>{{pregunta}}</p>
        {{/pregunta}}
        {{#correcto}}
        <p>Respuesta Correcta </p>
        {{/correcto}}
    </div>
    <div>
        {{#mensaje}}
        <p>{{mensaje}}</p>
        {{/mensaje}}
    </div>
    <a href="{{url}}">{{texto}}</a>

</div>