{{> header}}
<div class="flex flex-col justify-center items-center justify-items-center">
    <button id="btn-reportar-pregunta" onclick="mostrarPopup()" class="bg-green-400 p-2 rounded mt-10">Reportar Pregunta</button>
    <div id="popup-reporte" class="pop-up">
        <div class="modal">
            <h2>¿Por qué quieres reportar la pregunta?</h2>
            <textarea id="motivo-reportar" rows="4" cols="50"></textarea>
            <button onclick="enviarReporte()">Enviar Reporte</button>
        </div>
    </div>
    <div class="partida">

        <div class="pregunta-container cuadro text-center">
            {{#pregunta}}
                <p>{{pregunta}}</p>
            {{/pregunta}}

            {{#preguntaId}}
                <p style="display: none;" id="idPregunta">{{preguntaId}}</p>
            {{/preguntaId}}
            {{#usuarioId}}
                <p style="display: none;" id="idUsuario">{{usuarioId}}</p>
            {{/usuarioId}}

            {{#correcto}}
                <p>Respuesta Correcta </p>
            {{/correcto}}
        </div>

        <div class="pregunta-container cuadro text-center">
            {{#mensaje}}
                <p>{{mensaje}}</p>
            {{/mensaje}}
        </div>

        <div class="pregunta-container cuadro text-center">
            {{#puntaje}}
                <p>Puntaje: {{puntaje}}</p>
            {{/puntaje}}
        </div>


        <a href="{{url}}" class="bg-yellow-500 border border-back text-black rounded p-2">{{texto}}</a>


    </div>
</div>

<script>
    function mostrarPopup() {
        var popup = document.getElementById("popup-reporte");
        popup.classList.remove('pop-up')
        popup.classList.add('show');
    }

    function enviarReporte() {
        var popup = document.getElementById("popup-reporte");
        var motivo = document.getElementById("motivo-reportar").value;
        var idUsuario = document.getElementById("idUsuario").innerHTML;
        var idPregunta = document.getElementById("idPregunta").innerHTML;

        popup.classList.remove('show')
        popup.classList.add('pop-up');

        if (motivo.trim() === '') {
            alert('Por favor, ingresa un motivo para reportar la pregunta.');
            return;
        }

        var data = {
            motivo: motivo,
            idUsuario: idUsuario,
            idPregunta: idPregunta
        };

        var requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };
        var url = 'http://localhost:80/partida/reportarPregunta';

        fetch(url, requestOptions)
                .then(response => {
                    if (response.ok) {
                        console.log(motivo);
                        console.log(idUsuario);
                        console.log(idPregunta);
                        setTimeout(function() {
                            window.location.href = "/lobby/list";
                        }, 5000);
                    } else {
                        console.log('Hubo un error al enviar el reporte.');
                        setTimeout(function() {
                            window.location.href = '{{url}}';
                        }, 5000);
                    }
                })
                .catch(error => {
                    console.log('Hubo un error en la solicitud AJAX:', error);
                });
    }

</script>
</body>
{{>footer}}