{{> headerUser}}
<div class="respuesta">
    <div>
        {{#puntaje}}
        <p>{{puntaje}}</p>
        {{/puntaje}}
    </div>
    <div>
    {{#pregunta}}
    <p>{{pregunta}}</p>
    {{/pregunta}}
    </div>
    <div>
    {{#mensaje}}
    <p>{{mensaje}}</p>
    {{/mensaje}}
    </div>
    <a href="{{url}}">{{texto}}</a>

</div>