{{> header}}
<div class="flex flex-col justify-center items-center justify-items-center w-full ">
    <button id="btn-reportar-pregunta" onclick="mostrarPopup()" class="bg-green-400 p-2 rounded mt-10">Reportar Pregunta</button>
    <div id="popup-reporte" class="pop-up">
        <div class="modal">
            <h2>¿Por qué quieres reportar la pregunta?</h2>
            <textarea id="motivo-reportar" rows="4" cols="50"></textarea>
            <button onclick="enviarReporte()">Enviar Reporte</button>
        </div>
    </div>
    <div class="partida w-full mt-5">

        <div class="pregunta-container cuadro text-center md:text-xl text-sm">
            {{#pregunta}}
                <p>{{pregunta}}</p>
            {{/pregunta}}

            {{#preguntaId}}
                <p style="display: none;" id="idPregunta">{{preguntaId}}</p>
            {{/preguntaId}}
            {{#usuarioId}}
                <p style="display: none;" id="idUsuario">{{usuarioId}}</p>
            {{/usuarioId}}

            {{#correcto}}
                <p>Respuesta Correcta </p>
            {{/correcto}}
        </div>

        <div class="pregunta-container cuadro text-center md:text-xl text-sm h-auto w-auto p-[25px]">
            {{#mensaje}}
                <p>{{mensaje}}</p>
            {{/mensaje}}
        </div>

        <div class="pregunta-container cuadro text-center md:text-xl text-sm h-auto w-auto  p-[25px]">
            {{#puntaje}}
                <p>Puntaje: {{puntaje}}</p>
            {{/puntaje}}
        </div>


        <a href="{{url}}" class="bg-yellow-500 border border-back text-black rounded p-2">{{texto}}</a>


    </div>
</div>
<script src="/public/js/agregarTerminarPartida.js"></script>
<script src="/public/js/reportarPregunta.js"></script>
<script>
setTimeout(function() {
    window.location.href = "{{url}}";
}, 5000);</script>
</body>
{{>footer}}