{{> header}}
<div id="jugar-audio"></div>
<p id="numero" class="p-2 h-auto w-auto bg-black rounded-full fixed text-white md:text-xl text-sm hidden md:left-[50%] left-[45%] mt-2">10</p>
<div class="grid grid-cols-1 items-center justify-center md:w-[80%] w-full h-full justify-items-center content-center m-auto md:mt-20 mt-10">
    {{#partidas}}
        <p class="m-5 hidden">Fecha: {{fecha}}</p>
        <p class="m-5 hidden" id="usuario">{{idUsuario}}</p>
    {{/partidas}}

    <div id="contenedor-juego" class=" hidden w-full md:w-[75%] grid grid-cols-1 justify-center content-center m-5 p-5 bg-gray-500 rounded-[200px]">
        <div class="w-[50%] h-auto rounded-2xl text-center broder border-white m-auto text-lg" id="contenedor-categoria" >

            <p id="categoria" class="md:text-6xl text-sm"></p>
        </div>
        <div class="w-[50%] h-auto grid grid-cols-1 justify-center content-center p-3 mt-2 rounded-2xl m-auto" id="contenedor-pregunta">
            <p id="pregunta" class="md:text-4xl text-sm font-bold text-white text-center"></p>
            <p id="idPregunta" class="hidden"></p>
        </div>
        <div class="grid grid-cols-2 md:gap-5 gap-3 justify-center items-center justify-items-center content-center text-white">
            <a id="opcion1" class="w-auto h-auto rounded-[50px] text-center md:text-2xl text-sm md:p-5 m-2"></a>
            <a id="opcion2" class="w-auto h-auto rounded-[50px] text-center md:text-2xl text-sm md:p-5 m-2"></a>
            <a id="opcion3" class="w-auto h-auto rounded-[50px] text-center md:text-2xl text-sm md:p-5 m-2"></a>
            <a id="opcion4" class="w-auto h-auto rounded-[50px] text-center md:text-2xl text-sm md:p-5 m-2"></a>
        </div>
        <div class="flex flex-col justify-center items-center">
            <button id="btn-trampita" onClick="usarTrampita()" class="hidden bg-blue-500 text-white text-2xl font-bold rounded-2xl m-auto p-5 m-5">Usar trampita</button>
            <div id="popup-trampita" style="display: none;">
                <h2>No tenes trampitas!</h2>
                <button onClick="comprarTrampita()" id="comprarTrampita-btn" class="trampita"></button>
            </div>
        </div>
    </div>

</div>
<script src="/public/js/consultaApiPregunta.js"></script>
<script src="/public/js/trampita.js"></script>
<script src="/public/js/agregarTerminarPartida.js"></script>
<script src="/public/js/reportarPregunta.js"></script>
<script>
    window.addEventListener("load", function() {
consultarAPI();
    });
</script>