{{> headerUser}}
      <div class="flex flex-col text-green-700 bg-green-200 opacity-90 p-5 w-4/5 rounded m-auto">
       {{#usuario}}
       <div class="flex flex-col md:grid-cols-1  justify-center items-center">
       <h1 class="text-xl text-center font-bold md:text-6xl">{{nickName}}</h1>
        <img src='/public/foto-perfil/bandmember.jpg' alt="FOTO" class="h-15 w-15 m-auto rounded-full" id="imagenPerfil" name="imagenPerfil">
        </div>

      <div class="flex flex-col md:grid-cols-2 justify-center items-center w-full">
               <h2>Nombre: {{nombre}}</h2>

  </div>
    <div class="flex flex-col md:grid-cols-2  justify-center items-center w-full">
     <h2 class="mb-2 md:mb-2 text-sm">Email: {{email}}</h2>
               <h2>País: {{pais}}</h2>
               <h2 class="mb-2 md:mb-2">Ciudad: {{ciudad}}</h2>
               <h2 class="mb-2 md:mb-2">Genero: {{genero}}</h2>
    </div>
 <div class="flex flex-col md:grid-cols-1  justify-center items-center w-full">

           <img src='/public/qr-perfil/ejemplo_qr.jpg' alt="FOTO" class="h-15 w-15 m-auto" id="imagenPerfil" name="imagenPerfil">

          </div>
        {{/usuario}}
      </form>

      </div>